div.modal
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(ng-click="close()")
					i.fa.fa-times

				h4.
					#{__('User.EditModal.Title')}

			div.modal-body
				h4 #{__('User.EditModal.ProfileInformation')}
				div.form-group
					label #{__('User.EditModal.Label.Name')}
					input.form-control(
						type="text",
						ng-model="user.name",
						ng-change="validate('name')"
					)
					div(ng-if="errors['name']")
						{{ errors['name'] }}
				div.form-group
					label #{__('User.EditModal.Label.Email')}
					input.form-control(
						type="email",
						ng-model="user.email",
						ng-change="validate('email')"
					)
					div(ng-if="errors['email']")
						{{ errors['email'] }}
				div.form-group
					label #{__('User.EditModal.Label.Username')}
					input.form-control(
						type="text",
						ng-model="user.username",
						ng-change="validate('username')"
					)
					div(ng-if="errors['username']")
						{{ errors['username'] }}
				div.form-group
					label #{__('User.EditModal.Label.Language')}
					select.form-control(
						type="text",
						ng-model="user.locale",
						ng-change="validate('locale')",
						ng-options="locale.short as locale.title for locale in locales"
					)
					div(ng-if="errors['username']")
						{{ errors['username'] }}
				div.form-group
					label #{__('User.EditModal.Label.OldPassword')}
					input.form-control(
						type="password",
						ng-model="user.old_password",
						ng-change="validate('old_password')"
					)
				div(ng-if="errors['old_password']")
					{{ errors['old_password'] }}
				
				h4 #{__('User.EditModal.ChangePassword')} 
					input(type="checkbox", ng-model="user.change_password")
				div.row(ng-if="user.change_password")
					div.form-group.col-xs-6
						label #{__('User.EditModal.Label.NewPassword')}
						input.form-control(
							type="password",
							ng-model="user.new_password",
							ng-change="validate('new_password')"
						)
					div.form-group.col-xs-6
						label #{__('User.EditModal.Label.RepeatPassword')}
						input.form-control(
							type="password",
							ng-model="user.repeat_password",
							ng-change="validate('repeat_password')"
						)
					div.col-xs-12(ng-if="errors['new_password']")
						{{ errors['new_password'] }}
			
			div.modal-footer
				button.btn.btn-default(ng-click="close()")
					i.fa.fa-times &nbsp;
					| #{__('User.EditModal.Footer.Close')}
				button.btn.btn-primary(ng-click="save()")
					i.fa.fa-check &nbsp;
					| #{__('User.EditModal.Footer.Save')}