doctype html
html
	head
		link(rel="stylesheet", href="/static/admin/bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/static/admin/bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="/static/admin/css/login.css")
	body(class="background-" + backgroundNumber)
		form.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1(method="POST", action="/admin/login?next=#{next || ''}")
			p.lead #{__('Login.HelloPleaseLogIn')}
			div.form-group
				input.form-control(placeholder="#{__('Login.EmailOrUsername')}", name="username")
			div.form-group
				input.form-control(placeholder="#{__('Login.Password')}", type="password", name="password")

			div.error #{error}

			button.btn.btn-success.col-xs-4.col-xs-offset-8(type="Submit") #{__('Login.Go')}