div.modal
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(ng-click="close()")
					i.fa.fa-times

				h4.
					#{__('Media.EditModal.Title')}

			div.modal-body
				div.row
					div.selected-media-preview.col-xs-5
						img(ng-src="{{ media.paths['256'].path }}")

					div.selected-media-information-wrapper.col-xs-7
						div.selected-media-field.selected-media-name
							span.lead
								{{ media.name }}
						div.selected-media-field.selected-media-title
							label #{__('Media.Label.Title')}
							input(placeholder="#{__('Media.Label.Title')}", ng-model="media.title")
						div.selected-media-field.selected-media-tags
							label #{__('Media.Label.Tag')}
							rouvenherzog-tag-select(model="media", field="tags")


			div.modal-footer
				button.btn.btn-default(ng-click="close()")
					i.fa.fa-times &nbsp;
					| #{__('Media.EditModal.Footer.Close')}
				button.btn.btn-primary(ng-click="save()")
					i.fa.fa-check &nbsp;
					| #{__('Media.EditModal.Footer.Save')}