nav.navbar.navbar-default.navbar-fixed-top.media-sub-nav
	div.col-xs-12
		ul.nav.navbar-nav
			li
				button.btn.btn-primary.navbar-btn.upload-btn
					i.fa.fa-upload &nbsp;
					| #{__('Media.Upload')}

					input(
						type="file",
						multiple,
						rouvenherzog-media-input-notify="upload_files"
					)
			li.divider
			li
				label #{__('Media.Label.FilterByTag')}:
				form.navbar-form
					div.form-group
						rouvenherzog-tag-select(
							single="true",
							model="filter",
							field="tag"
						)

div.media-view-list
	rouvenherzog-media-list-row(media="media", tag="notag", ng-if="!filter.tag")
	rouvenherzog-media-list-row(media="media", tag="tag", ng-repeat="tag in tags | filter:filter.tag")