div.modal
	div.modal-dialog.modal
		div.modal-content
			div.modal-header
				button.close(ng-click="close()")
					i.fa.fa-times

				h4.
					#{__('Media.UploadModal.Title')}

			div.modal-body
				div.row
					ul.media-list.list-group(ng-if="media.length > 1")
						li.media-list-item.list-group-item.col-xs-2(ng-repeat="m in media", ng-class="{'active': m==selected_media}", ng-click="select(m)")
							div(ng-if="!m.preview || m.uploading").preview-loading
								i.fa.fa-circle-o-notch.fa-spin
							img(ng-src="{{ m.preview }}", ng-if="m.preview")
							div(ng-if="m.uploaded").upload-complete
								i.fa.fa-check

				div.row(ng-if="!uploading")
					div.selected-media-preview.col-xs-5
						div(ng-if="!selected_media.preview").preview-loading
							i.fa.fa-circle-o-notch.fa-spin
						img(ng-src="{{ selected_media.preview }}", ng-if="selected_media.preview")

					div.selected-media-information-wrapper.col-xs-7
						div.selected-media-field.selected-media-name
							span.lead
								{{ selected_media.name }}
						div.selected-media-field.selected-media-title
							label #{__('Media.Label.Title')}
							input(placeholder="#{__('Media.Label.Title')}", ng-model="selected_media.title")
						div.selected-media-field.selected-media-tags
							label #{__('Media.Label.Tag')}
							rouvenherzog-tag-select(model="selected_media", field="tags")

				div.row(ng-if="uploading")
					div.col-xs-12
						h1.
							#{__('Media.UploadModal.Uplading.Uploaded')}
							{{ amount_uploaded }}
							#{__('Media.UploadModal.Uplading.Of')}
							{{ media.length }}
							#{__('Media.UploadModal.Uplading.Files')}.


			div.modal-footer
				div(ng-if="!uploading")
					button.btn.btn-default(ng-click="close()")
						i.fa.fa-times &nbsp;
						| #{__('Media.UploadModal.Footer.Close')}
					button.btn.btn-primary(ng-click="upload()")
						i.fa.fa-check &nbsp;
						| #{__('Media.UploadModal.Footer.UploadFiles')}
				div(ng-if="uploading")
					button.btn.btn-primary
						i.fa.fa-circle-o-notch.fa-spin &nbsp;
						| #{__('Media.UploadModal.Footer.Uploading')}