div.col-xs-5.col-sm-4.col-md-3.entry-list-wrapper
	div.navbar.navbar-default.navbar-fixed-top.col-xs-5.col-sm-4.col-md-3
		ul.nav.navbar-nav
			li(ng-repeat="sorting in listSorts.available")
				a(href="#", ng-class="{'active': listSorts.active == sorting}", ng-click="listSorts.activate(sorting)")
					span(ng-bind-html="sorting.display")
					i.fa(ng-class="{'fa-chevron-down': sorting.direction, 'fa-chevron-up': !sorting.direction}")

			li.pull-right.create-btn
				button.btn.btn-primary.navbar-btn(ng-click="create()")
					i.fa.fa-plus-circle &nbsp;
					| #{__('Blog.Create')}

	ul.list-group.entry-list
		li.list-group-item.entry-list-item(
			ng-repeat="entry in entries | orderBy : listSorts.active.field : listSorts.active.direction",
			ng-class="{'active': entry==selected_entry}",
			ng-click="open(entry)"
		)
			div.info
				span.label(ng-class="{'label-success' : entry.published, 'label-info': !entry.published}")
					{{ entry.published ? '#{__('Blog.Published')}': '#{__('Blog.Draft')}' }}
				{{ entry.modified_at | date : 'short' }}
			h4
				{{ entry.clean.title || '#{__('Blog.Untitled')}' }}

div.col-xs-7.col-sm-8.col-md-9.entry-detail-wrapper
	div(ng-if="!selected_entry")
		h1.
			#{__('Blog.SelectAPostFromList')}

	div.selected(ng-if="selected_entry")
		div.navbar.navbar-default.navbar-fixed-top
			div.col-xs-7.col-xs-offset-5.col.sm-8.col-sm-offset-4.col-md-9.col-md-offset-3
				ul.nav.navbar-nav
					li
						button.btn.btn-default.navbar-btn(ng-click="open(null)")
							i.fa.fa-times &nbsp;
							| #{__('Blog.Menu.Close')}
					li &nbsp;
					li
						div.btn-group
							button.btn.btn-default.navbar-btn(ng-click="save()")
								i.fa.fa-check &nbsp;
								| #{__('Blog.Menu.Save')}
							button.btn.btn-default.navbar-btn(ng-click="publish()")
								i.fa(ng-class="{'fa-upload': !selected_entry.published, 'fa-ban': selected_entry.published}") &nbsp;
								{{ selected_entry.published ? '#{__('Blog.Menu.Unpublish')}' : '#{__('Blog.Menu.Publish')}' }}
					li &nbsp;
					li
						button.btn.btn-default.navbar-btn(
							ng-click="delete($event, '#{__('Blog.deleteConfirmation.title')}', '#{__('Blog.deleteConfirmation.okay')}', '#{__('Blog.deleteConfirmation.cancel')}' )"
						)
							i.fa.fa-trash &nbsp;
							| #{__('Blog.Menu.Delete')}
					li &nbsp;
				
				ul.nav.navbar-nav.navbar-right
					li(ng-if="selected_entry.dirty")
						p.navbar-text
							{{ !selected_entry.saved ? ( selected_entry.saving ? 'Saving ...' : 'Not Cached') : 'Cached' }}

		rouvenherzog-blog-edit-entry-form(entry="selected_entry")

div.clearfix