div.col-xs-5.col-sm-4.col-md-3.entry-list-wrapper
	div.navbar.navbar-default.navbar-fixed-top.col-xs-5.col-sm-4.col-md-3
		ul.nav.navbar-nav
			li(ng-repeat="sorting in listSorts.available")
				a(href="#", ng-class="{'active': listSorts.active == sorting}", ng-click="listSorts.activate(sorting)")
					span(ng-bind-html="sorting.display")
					i.fa(ng-class="{'fa-chevron-down': sorting.direction, 'fa-chevron-up': !sorting.direction}")

			li.pull-right.create-btn
				button.btn.btn-primary.navbar-btn(ng-click="create()")
					i.fa.fa-plus-circle &nbsp;
					| #{__('Blog.Create')}

	ul.list-group.entry-list
		li.list-group-item.entry-list-item(
			ng-repeat="list_entry in entries | orderBy : listSorts.active.field : listSorts.active.direction",
			ng-class="{'active': list_entry==entry}",
			ng-click="open(list_entry)"
		)
			div.info
				span.label(ng-class="{'label-success' : list_entry.published, 'label-info': !list_entry.published}").
					{{ list_entry.published ? '#{__('Blog.Published')}': '#{__('Blog.Draft')}' }}
				| {{ list_entry.modified_at | date : 'short' }}
			h3.
				{{ list_entry.clean.title || '#{__('Blog.Untitled')}' }}

div.col-xs-7.col-sm-8.col-md-9.entry-detail-wrapper
	div(ng-if="not_found")
		h1.entry-not-found.
			#{__('Blog.EntryNotFound')}

	div(ng-if="!not_found && !entry")
		h1.no-entry-selected.
			{{ (entries.length > 0) ? "#{__('Blog.SelectAPostFromList')}" : "#{__('Blog.CreateAPost')}" }}

	div.selected(ng-if="entry")
		div.navbar.navbar-default.navbar-fixed-top
			div.col-xs-7.col-xs-offset-5.col.sm-8.col-sm-offset-4.col-md-9.col-md-offset-3
				ul.nav.navbar-nav
					li
						button.btn.btn-default.navbar-btn(ng-click="open(null)")
							i.fa.fa-times &nbsp;
							| #{__('Blog.Menu.Close')}
					li &nbsp;
					li
						div.btn-group
							button.btn.btn-default.navbar-btn(ng-click="save()")
								i.fa.fa-check &nbsp;
								| #{__('Blog.Menu.Save')}
							button.btn.btn-default.navbar-btn(ng-click="publish()")
								i.fa(ng-class="{'fa-upload': !entry.published, 'fa-ban': entry.published}") &nbsp;
								| {{ entry.published ? '#{__('Blog.Menu.Unpublish')}' : '#{__('Blog.Menu.Publish')}' }}
					li &nbsp;
					li
						button.btn.btn-default.navbar-btn(
							ng-click="delete($event)"
						)
							i.fa.fa-trash &nbsp;
							| #{__('Blog.Menu.Delete')}
					li &nbsp;
				
				ul.nav.navbar-nav.navbar-right
					li(ng-if="entry.dirty")
						p.navbar-text
							small.
								{{ !entry.saved ? ( entry.saving ? 'Saving ...' : 'Not Cached') : 'Cached' }}

		rouvenherzog-blog-edit-entry-form(entry="entry")

div.clearfix