input.title(ng-model="entry.title", placeholder="#{__('Blog.Title')}")

rouvenherzog-blog-quill(ng-model="entry", field="delta")

h3.media-title
	| #{__('Blog.Media.Title')} 

	button.btn.btn-primary.btn-sm.upload-btn
		i.fa.fa-upload &nbsp;
		| #{__('Media.Upload')}

		input(
			type="file",
			multiple,
			rouvenherzog-media-input-notify="upload_files"
		)

rouvenherzog-media-row(
	media="entry.media"
)