div.form-group
	input.title(ng-model="entry.title", placeholder="#{__('Blog.Title')}", ng-change="modified()")

div
	ul.nav.nav-tabs
		li.active(data-toggle="tab", data-target="#body")
			a #{__('Blog.labels.Body')}
		li(data-toggle="tab", data-target="#summary", ng-if="entry.hasSummary()")
			a #{__('Blog.labels.Summary')}
		li.pull-right(data-toggle="tab", data-target="#meta")
			a.edit-meta-btn
				i.fa.fa-cog
				|  #{__('Blog.labels.EditMeta')}

	div.tab-content
		div.tab-pane.active#body
			rouvenherzog-blog-quill.body(ng-model="entry", notify="modified", field="body.delta", watch="entry.copy.body", article-length="700")
		div.tab-pane#summary
			rouvenherzog-blog-quill.summary(ng-model="entry", notify="modified", field="summary.delta", watch="entry.copy.summary")
		div.tab-pane#meta
			div.form-group
				label #{__('Blog.labels.Keywords')}
				input.keywords.form-control(ng-model="entry.keywords", ng-change="modified()")


h3.media-title
	| #{__('Blog.Media.Title')} 

	button.btn.btn-primary.btn-sm.upload-btn
		i.fa.fa-upload &nbsp;
		| #{__('Media.Upload')}

		input(
			type="file",
			multiple,
			rouvenherzog-media-input-notify="upload_files"
		)

rouvenherzog-media-row(
	media="entry.media"
)