div.entry-edit-wrapper
	rouvenherzog-blog-edit-entry-form(entry="entry")

	div.navbar.navbar-default.navbar-fixed-bottom
		div.col-xs-12
			button.btn.btn-default.navbar-btn(ng-click="back()")
				i.fa.fa-chevron-left &nbsp;
				| #{__('Blog.Menu.Back')}
			button.btn.btn-default.navbar-btn.pull-right(ng-click="delete()")
				i.fa.fa-trash &nbsp;
				| #{__('Blog.Menu.Delete')}
			div.btn-group.pull-right
				button.btn.btn-default.navbar-btn(ng-click="save()")
					i.fa.fa-check &nbsp;
					| #{__('Blog.Menu.Save')}
				button.btn.btn-default.navbar-btn(ng-click="publish()")
					i.fa(ng-class="{'fa-upload': !entry.published, 'fa-ban': entry.published}") &nbsp;
					{{ entry.published ? '#{__('Blog.Menu.Unpublish')}' : '#{__('Blog.Menu.Publish')}' }}