doctype html
html
	head
		base(href="/admin", language="#{ user.locale }")
		link(rel="stylesheet", href="/static/admin/bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/static/admin/bower_components/quill/dist/quill.snow.css")
		link(rel="stylesheet", href="/static/admin/bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="/static/admin/bower_components/angular-ui-select/dist/select.css")
		link(rel="stylesheet", href="/static/admin/css/rouvenherzog.css")
		block head
	body(ng-app="rouvenherzog")
		nav.navbar.navbar-inverse
			button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#app-navbar")
				i.fa.fa-navicon
			div.collapse.navbar-collapse#app-navbar
				ul.nav.navbar-nav
					each module in app.get('backend').modules
						li(class=((module.root != '/admin/' || url == '/admin/') && url.indexOf(module.root) == 0) ? 'active' : '')
							a(href=module.root, target="_self")
								| #{module.name}
				ul.nav.navbar-nav

				ul.nav.navbar-nav.navbar-right
					li.navbar-text.hidden-xs
						| #{__('Navigation.Hello')}, 
						rouvenherzog-user-name
						| !
					li
						a.text-primary(href="/", target="_self")
							i.fa.fa-eye &nbsp;
							| Show Website
					li
						a.text-primary(href="", rouvenherzog-open-profile-form)
							i.fa.fa-cogs &nbsp;
							| Profile
					li
						a(href="/admin/logout", target="_self")
							i.fa.fa-leave
							| #{__('Navigation.Logout')}

		block body

		rouvenherzog-notification-list

		script(type="text/javascript", src="/static/admin/bower_components/jquery/dist/jquery.js")
		script(type="text/javascript", src="/static/admin/bower_components/bootstrap/dist/js/bootstrap.js")
		script(type="text/javascript", src="/static/admin/bower_components/Chart.js/Chart.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular/angular.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-translate/angular-translate.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-sanitize/angular-sanitize.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-route/angular-route.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-ui-select/dist/select.js")
		script(type="text/javascript", src="/static/admin/bower_components/quill/dist/quill.js")
		script(type="text/javascript", src="/static/admin/js/rouvenherzog.js")

		script(type="text/javascript").
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//piwik.rouvenherzog.me/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 4]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		noscript
			p
				img(src="//piwik.rouvenherzog.me/piwik.php?idsite=4", style="border:0;", alt="")
		block footer